<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="SiteName" content="安徽省港口运营集团有限公司" />
		<meta name="SiteDomain" content="sfj.xuancheng.gov.cn" />
		<meta name="SiteIDCode" content="3418000009" />
		<meta name="keywords" content="安徽省港口运营集团有限公司" />
		<meta name="description" content="安徽省港口运营集团有限公司" />
		<title>安徽省港口运营集团有限公司</title>
		<link rel="stylesheet" type="text/css" href="../media/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../media/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../media/css/home.css"/>
	</head>
	<body>
		<div class="is-header">
			<div class="is-top">
				<div class="m-middle">
					<span class="fl">您好，欢迎访问安徽省港口运营集团有限公司官网!</span>
					<span class="fr">
						<a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a>
						|
						<a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">加入收藏</a>
					</span>	
				</div>
			</div>
			<div class="is-nav">
				<img src="../media/images/public/logo.png" class="fl u-logo">
				<ul class="m-nav fr">
					<li class="active">
						<a href="" target="_blank">
							<span>首页</span>
							<span>HOME</span>
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<span>公司概况</span> 
							<span>ABOUT US</span>
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<span>公司资讯</span> 
							<span>NEWS</span>
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<span>公司党建</span> 
							<span>COMMUNIST</span>
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<span>通知公告</span> 
							<span>NOTICE</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="is-main">
			<div class="m-banner">
				<div class="m-bimg">
					<div class="bd"> 
						<ul>
							<li>
								<img src="../media/images/home/banner.jpg" />
							</li>
							<li>
								<img src="../media/images/home/banner.jpg" />
							</li>
							<li>
								<img src="../media/images/home/banner.jpg" />
							</li>
						</ul>
					</div>
					<div class="hd">
						<ul>
							<li class="on"></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
				<div class="m-banbot">
					<div class="m-search fl">
						<form method="GET" action="/index.php?c=search" class="fr">
							<input type="text" name="keywords" placeholder="-请输入检索关键字-" value="" class="u-searchtext fl" x-webkit-speech="" autocomplete="off">
							<input name="" type="submit" value="" class="u-searchbtn fr">
							<input name="c" type="hidden" value="search">
						</form>
					</div>
					<div class="m-not fl">
						<h1 class="fl">通知公告：</h1>
						<div class="bd">
							<ul class="infoList">
								<li><span class="tz">安徽省港口运营集团有限公司公开招聘工作人员公告</span><a href="" target="_blank"> 集团党委副书记....</a></li>
								<li><span class="tz">安徽省港口运营集团有限公司公开招聘工作人员公告</span><a href="" target="_blank"> 集团党委副书记....</a></li>
								<li><span class="tz">安徽省港口运营集团有限公司公开招聘工作人员公告</span><a href="" target="_blank"> 集团党委副书记....</a></li>
								<li><span class="tz">安徽省港口运营集团有限公司公开招聘工作人员公告</span><a href="" target="_blank"> 集团党委副书记....</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="m-content">
				<div class="m-flash fl">
				    <div class="bd">
				        <ul>
				            <li>
					            <a href="" target="_blank">
					              	<img src="../media/images/home/flash01.jpg" />
					            	<p>虞爱华到市图书馆调研</p>
					            </a>
				            </li>
				            <li>
					            <a href="" target="_blank">
					              	<img src="../media/images/home/flash01.jpg" />
					            	<p>虞爱华到市图书馆调研</p>
					            </a>
				            </li>
				            <li>
					            <a href="" target="_blank">
					              	<img src="../media/images/home/flash01.jpg" />
					            	<p>虞爱华到市图书馆调研</p>
					            </a>
				            </li>
				            <li>
					            <a href="" target="_blank">
					              	<img src="../media/images/home/flash01.jpg" />
					            	<p>虞爱华到市图书馆调研</p>
					            </a>
				            </li>
				        </ul>
				    </div>
				    <div class="hd">
				        <ul>
				            <li></li>
				            <li></li>
				            <li></li>
				            <li></li>
				        </ul>
				    </div>
				</div>
				<div class="m-listbox m-news fr">
					<div class="hd">
						<ul>
							<li class="list1"><a href=""><i></i></a></li>
							<li class="list2"><a href=""><i></i></a></li>
							<li class="list3"><a href=""><i></i></a></li>
						</ul>
				    </div>
				    <div class="bd">
				        <ul>
				        	<li>
								<a href="">省港口运营公司召开“不忘初心、牢记使命”主题教育动员会</a>
								<p>6月19日下午，省港口运营公司召开“不忘初心、牢记使命”主题教育动员会，传达学习中央、全省“不忘初心、牢记使命”主题教育工作会议精神及省港航集团主题教育动员会精神...</p>
							</li>
				            <li><span class="date">2011-11-11</span><a href="#">宣州｜水东镇坚持全域全景 推进古镇旅游新发展   </a></li>
				            <li><span class="date">2011-11-11</span><a href="#">宣城市召开2019年“扫黄打非”工作会议</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">我市深入推进旅游厕所建设</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">我市深入推进旅游厕所建设</a></li>
				        </ul>
				        <ul>
				        	<li><a href="">我市“活兴热演”传统文化打响宣城品牌</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">名师教作文：３妙招巧写高分</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">耶鲁小子：教你备考SAT</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">施强：高端专业语言教学</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">数理化老师竟也看学习资料？</a></li>
				        </ul>
				        <ul>
				        	<li><a href="">我市“活兴热演”传统文化打响宣城品牌</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">澳大利亚八大名校招生说明会</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">2012世界大学排名新鲜出炉</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">新加坡留学，国际双语课程</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">高考后留学日本名校随你选</a></li>
				        </ul>
				    </div>
				</div>
			</div>
			<div class="m-advert">
			    <img src="../media/images/home/index_25.jpg">
			</div>
			<div class="m-content2">
			    <div class="m-guanzhu fl">
				     <img src="../media/images/home/mtgz.png">
				</div>
				<div class="m-listbox m-gzlist fr">
				     <div class="bd">
				        <ul>
				            <li><span class="date">2011-11-11</span><a href="#">宣州｜水东镇坚持全域全景 推进古镇旅游新发展   </a></li>
				            <li><span class="date">2011-11-11</span><a href="#">宣城市召开2019年“扫黄打非”工作会议</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">我市深入推进旅游厕所建设</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">我市深入推进旅游厕所建设</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">我市深入推进旅游厕所建设</a></li>
				            <li><span class="date">2011-11-11</span><a href="#">我市深入推进旅游厕所建设</a></li>
				        </ul>
				    </div>
				</div>
			</div>
		</div>
		<div class="is-footer">
		    <div class="m-footer">
			    <div class="fotcont fl"> 
				    <p>©版权所有 安徽省港口运营集团有限公司 皖ICP备18024537号<br>地址：芜湖市鸠江区瑞祥路88号皖江财富广场A1座</p>
				</div>
				<div class="is-flink fr">
					<div class="is-select">
						<dl class="select">
							<dt>--友情链接--</dt>
							<dd>
								<ul>
									{{ BEGIN friendlink-5c7e13327f8b9a7553a3ba7a_100_0_9_1 }}
									<li><a target="_blank" href="{{ url }}" title="{{ title }}">-{{ title }}-</a></li>
									{{ END }}
								</ul>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<script src="../media/js/jquery.min.js"></script>
		<script src="../media/js/base.js"></script>
		<script src="../media/js/jquery.SuperSlide.2.1.js"></script>
		<script>
			jQuery(".m-bimg").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true});
			jQuery(".m-not").slide({mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:1});
			jQuery(".m-flash").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true});
			jQuery(".m-listbox").slide({ titCell:".hd li", mainCell:".bd", targetCell:".u-more", autoPlay:false});	
		</script>
    </body>
</html>