<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="SiteName" content="安徽省港口运营集团有限公司" />
		<meta name="SiteDomain" content="sfj.xuancheng.gov.cn" />
		<meta name="SiteIDCode" content="3418000009" />
		<meta name="keywords" content="安徽省港口运营集团有限公司" />
		<meta name="description" content="安徽省港口运营集团有限公司" />
		<title>安徽省港口运营集团有限公司</title>
		<link rel="stylesheet" type="text/css" href="../media/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../media/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../media/css/page.css"/>
	</head>
	<body>
		<div class="is-header">
			<div class="is-top">
				<div class="m-middle">
					<span class="fl">您好，欢迎访问安徽省港口运营集团有限公司官网!</span>
					<span class="fr">
						<a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a>
						|
						<a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">加入收藏</a>
					</span>	
				</div>
			</div>
			<div class="is-nav">
				<img src="../media/images/public/logo.png" class="fl u-logo">
				<ul class="m-nav fr">
					<li>
						<a href="" target="_blank">
							<span>首页</span>
							<span>HOME</span>
						</a>
					</li>
					<li class="active">
						<a href="" target="_blank">
							<span>公司概况</span> 
							<span>ABOUT US</span>
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<span>公司资讯</span> 
							<span>NEWS</span>
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<span>公司党建</span> 
							<span>COMMUNIST</span>
						</a>
					</li>
					<li>
						<a href="" target="_blank">
							<span>通知公告</span> 
							<span>NOTICE</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="is-banner">
			<img src="../media/images/page/gkbanner.jpg">
		</div>
		<div class="is-main">
			<div class="m-intro">
			    <div class="m-location"><a href="/">网站首页</a> &gt; <a href="/content/channel/5c9208327f8b9ae20b48f03e/">新闻动态</a> &gt; <a href="/content/channel/5c9443d87f8b9a2e32ef7c80/">本院动态</a></div>
				<div class="detail-box">
				    <h1 class="gktit"></h1>
					<div class="text fl" style="margin-top:25px;width:725px;">
						{{ content.body }}
					</div>
					<div class="imgbox fr">
					</div>
				</div>
			</div>
		</div>
    </body>
</html>